  h1 {
    color: blue;
  }

  div {
    width: 50%;
  }

  h1 {
    font-weight: bold;
  }

  ul {
    color: red;
  }
  .nav-bar {
    position: fixed;
 }

 div {
  width: 200px;
  height: 200px;
  background-color: red !important;
  border: 5px solid magenta;
}
.songs-container {
  background-color: green;
  border: 25px solid red;
}
body {
  background-color: #ddd;
}
nav { 
  background-color: rgb(51, 51, 51); 
}
.hero-image {
  width: 100%; 
}
li:first-child { 
  color: green; 
}
#rock-songs {
  background-color: orange;
  border: 10px solid blue;
}
<div style="background-color: pink;" id="rock-songs" class="songs-container">
  
</div>
div {
  width: 200px;
  height: 200px;
  background-color: red !important;
  border: 5px solid magenta;
}